// -----------------------------------------------------------------------------
// This file contains all styles related to the device info component.
// -----------------------------------------------------------------------------

.specifications {
  margin-bottom: 25px;

  .badge img {
    width: 15px;
    margin: 4px 8px;
  }
}
